PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/coffee_b2b?schema=public"

JWT_SECRET=change_this_secret_in_local_env
JWT_EXPIRES_IN=7d
